@model LMS.Models.SubjectList

@{
    ViewBag.Title = "ViewStaffSubjects";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";

    var temp = Model.Subjects;

}

<h2>ViewStaffSubjects</h2>


<table class="table">
    <tr>

        <th>
            Subject Name
        </th>
        @*<th>
                 @Html.ActionLink("Delete", "Delete")
            </th>*@

        <th></th>
    </tr>

    @foreach (var item in temp)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>

            <td>

                @Html.ActionLink("Delete", "DeleteStaffSubjects", new { StaffId = Model.StaffId, SubjectId = item.SubjectId })
            </td>
        </tr>
    }



</table>