@model LMS.Models.CheckBoxListItem

@Html.HiddenFor(x => x.ID)
<tr>
    <td>
        @Html.CheckBoxFor(x => x.IsChecked)
    </td>
    <td>
        @Html.LabelFor(x => x.IsChecked, Model.Display)
    </td>
</tr>

